* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

h1, h3{
  font-family:arial;
  margin:20px;
}
li {
  display:inline;
}
a {
  text-decoration: none;
  color: gray;
}
.button {
  background-color: #ddd;
  border: 1px solid #999;
  color: gray;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
}
.title {
  text-align:center;
  color: gray;
  font-family: 'Fjalla One', sans-serif;;
  font-size: 2em;
  margin-bottom:10px;
}
header {
  background-color: #eee;
  max-width: auto;
  height: 4em;
  margin-left: auto;
  margin-right: auto;
  color: white;
  border-bottom: 1px solid gray;
  font-family: 'Fjalla One', sans-serif;
}
.container {
  margin-top: 10%;
  width: 100%;
  text-align: center;
  height:auto;
  color: #999;
}
.students {
  width: 75%;
  color: black;
  text-align: center;
  margin: auto;
  font-size: 1em;
}
tr {
  border: 1px solid gray;
  text-align: center;
  margin: auto;
  padding: 2em;
}
td {
  border: 1px solid gray;
  width: 33%;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
}

inputs{
  display:block;
  margin:auto;

}
