<div class='container' ng-controller='studentListController'>
  <h1>Welcome, student!</h1>
  <button class='button' ng-click='getStudents()'>See Assignments</button>
  <br>
  <input class='button' type='text' ng-model='search' placeholder='filter by name'/>
  <table class='students'>
    <tr ng-repeat="student in students | orderBy: 'created_at' | filter:search">
      <td>{{ student.name }}</td>
      <td><a href='{{ student.assignment }}'>{{ student.songName }}</a></td>
    </tr>
  </table>
</div>
