<!DOCTYPE html>
<html ng-app='lesson'>
  <head>
    <meta charset="utf-8" />
    <title>Lesson the Load</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script> -->
    <script src='app/app.js'></script>
  </head>
  <body>
    <header>
      <ul>
        <li><a href='/'>Home</a>  |  </li>
        <li><a href='/student'>Students</a>  |  </li>
        <li><a href='/teacher'>Teachers</a></li>
      </ul>
      <p class="title">Lesson the Load</p>
    </header>

   <div class='container' ng-controller='studentListController'>

           <h1>Welcome, student!</h1>
           <button class='button' ng-click='getStudents()'>See Assignments</button>
           <table class='students'>
             <tr ng-repeat='student in students'>
               <td>{{ student.name }}</td><td>{{ student.assignment }}</td>
             </tr>
         </table>
   </div>


    <!-- <div class='content' ng-view></div> -->

  </body>
</html>
