<!DOCTYPE html>
<html ng-app='lesson'>
  <head>
    <meta charset="utf-8" />
    <title>Lesson the Load</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Raleway" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src='app/app.js'></script>
  </head>
  <body>
    <header>
      <ul>
        <li><a href='/'>Home</a>  |  </li>
        <li><a href='/student'>Students</a>  |  </li>
        <li><a href='/teacher'>Teachers</a></li>
      </ul>
      <p class="title">Lesson the Load</p>
    </header>

   <div class='container' ng-controller='teacherController'>
     <div>
       <h1>Welcome, teacher!</h1>
       <form id='assignments' ng-submit='addAssignment()'>
         <h3>Assign a Piece</h3>
         <input type='text' ng-model='student.name' placeholder='student name'></input>
         <select ng-model='student.assignment'>
           <option ng-repeat='option in data.options' value='{{ option.url }}'>{{ option.title }}</option>
         </select>
         <input type='submit'></input>
       </form>



     </div>

   </div>


    <!-- <div class='content' ng-view></div> -->

  </body>
</html>
