<div class='container' ng-controller='teacherController'>
<div>
 <h1>Welcome, teacher!</h1>
 <form id='assignments' ng-submit='addAssignment()'>
   <h3>Assign a Piece</h3>
   <input class='button' type='text' ng-model='student.name' placeholder='student name'></input>
   <select class='button' ng-model='student.assignment'>
     <option ng-repeat='option in data.options' value='{{ option.url }}'>{{ option.title }}</option>
   </select>
   <input type='submit' class='button'></input>
 </form>
</div>
